<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>

    <!--HEADER: CABECERA Y MENÚ DE NAVEGACIÓN-->

    <header class="container-fluid">

        <!--caja contenedora de boostrap-->
        <div class="container">

            <!--caja que contiene el logotipo, el buscador y botón con un link-->
            <div class="row">

                <!--caja que contiene el logotipo-->
                <div class="col">
                    <a href=""><img src="" alt=""></a>
                </div>

                <!--caja que contiene el formulario-->
                <div class="col">
                    <form action="">
                        <input type="text">
                        <button><i></i></button>
                    </form>
                </div>

                <!--caja que contiene el link-->
                <div class="col">
                    <a href=" "><i></i></a>
                </div>

                <!--finaliza el div.row-->
            </div>

            <!--barra de navegación-->
            <nav>

                <!--boton para que desplegar el menu  en caso que el viewport sea tamaño movil-->
                <button><i></i></button>

                <!--barra de menu que aparece a partir de la vesión de tablet-->
                <div>

                    <!--barra de menu izquierdo-->
                    <ul>
                        <li>
                            <a href=" "></a>
                        </li>
                        <li>
                            <a href=" "></a>
                        </li>
                        <li>
                            <a href=" "></a>
                        </li>
                        <li>
                            <a href=" "></a>
                        </li>
                    </ul>

                    <!--barra de menu: login y registro-->
                    <ul>
                        <li>
                            <a href=" "> <i></i></a>
                        </li>
                        <li>
                            <a href=" "> <i></i></a>
                        </li>
                        <li>
                            <a href=" "> <i></i></a>
                        </li>
                    </ul>

                </div>
                <!--finaliza caja contenedora del menu-->
            </nav>
        </div>
        <!--finaliza caja contenedora bootstrap-->
    </header>

    <!--SECCIÓN: BANNER-->
    <section>
        <img src="" alt=" ">
    </section>

    <!--caja contendedora de bootstrap con padding superior e inferior de 5 (escala de boostrap)-->
    <div class="container py-5">

        <!--SECCIÓN: PRODUCTOS ULTIMA VISITA-->
        <section>

            <!--caja que contiene todos los productos de la ultima visita-->
            <div class="row">

                <!--caja que contiene el titulo de la sección-->
                <div class="col">
                    <h2>
                    </h2>
                </div>

                <!--caja de la grilla de bootstrap-->
                <div class="col">

                    <!--caja que muestra la información del producto-->
                    <div>

                        <!--ETIQUETA SEMANTICA-->
                        <figure>
                            <img src="" alt=" ">
                        </figure>

                        <!--informacion-->
                        <article>
                            <!--precio-->
                            <h2></h2>
                            <!--descuento-->
                            <span></span>
                            <!--nombre del producto ??-->
                            <p></p>
                            <!--icono de envío-->
                            <i></i>
                        </article>

                        <!--finaliza contenido-->
                    </div>
                    <!--finaliza caja de grilla de boostrap-->
                </div>
                <!--finaliza el div.row-->
            </div>

            <!--FINALIZA SECCIÓN ULTIMA VISITA-->
        </section>

        <!--SECCIÓN: PRODUCTOS OFERTAS-->
        <section>

            <!--caja que contiene todos los productos de la ultima visita-->
            <div class="row">

                <!--caja de la grilla de bootstrap-->
                <div class="col">

                    <!--caja que muestra la información del producto-->
                    <div>

                        <!--ETIQUETA SEMANTICA-->
                        <figure>
                            <img src="" alt=" ">
                        </figure>

                        <!--informacion-->
                        <article>
                            <!--precio-->
                            <h2></h2>
                            <!--descuento-->
                            <span></span>
                            <!--nombre del producto ??-->
                            <p></p>
                            <!--icono de envío-->
                            <i></i>
                        </article>

                        <!--finaliza contenido-->
                    </div>
                    <!--finaliza caja de grilla de boostrap-->
                </div>
                <!--finaliza el div.row-->
            </div>

            <!--FINALIZA SECCCIÓN OFERTAS-->
        </section>

    </div>

    <!--FOOTER: PIE DE PAGINA-->
    <footer class="container-fluid">

        <!--caja con el contenido principal de footer-->
        <div class="row">

            <!--contiene pago con tarjeta-->
            <div class="col">
                <article>
                    <i></i>
                    <h4></h4>
                    <p></p>
                </article>
            </div>

            <!--contiene envio gratis-->
            <div class="col">
                <article>
                    <i></i>
                    <h4></h4>
                    <p></p>
                </article>
            </div>

            <!--contiene seguridad-->
            <div class="col">
                <article>
                    <i></i>
                    <h4></h4>
                    <p></p>
                </article>
            </div>

            <!--contiene copyright-->
            <div class="col">
                <p></p>
            </div>
        </div>
        <!--finaliza div.row-->

    </footer>
    <!--FINALIZA FOOTER: PIE DE PAGINA-->
    </div>

    <!--scripts de bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
</body>

</html>